@import url(../fonts/roboto/stylesheet.css);

.main  {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container-text{
    min-width: 352px;
    height: 500px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.title{
    font-size: 200px;
    font-family: 'roboto';
}
.title-md{
    margin-top: 48px;
    font-size: 80px;
}

.text{
    font-size: 40px;
}

.overlay{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    overflow: hidden;
}

.video{
    height: 100%;
}