@import url(../fonts/roboto/stylesheet.css);



.bg{
  animation: gradient 10s linear infinite;
   background:linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%); 
  /*eae5c9 6cc6cb*/
  height: 100vh;
  /* background:linear-gradient(149deg, #eae5c9 0%, #6cc6cb 100%); */
  width: 100%;
  background-size: 400%;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}


.main  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 40px;
}

.container-text{
    min-width: 352px;
    height: 500px;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.container-header{
    display: flex;
    align-items: flex-end;
}

@media  (max-width: 769px){
    .container-header{
        flex-direction: column;
        align-items: center;
    }
}
    

.title{
    font-size: 200px;
    font-family: 'roboto';
}
.title-md{
    margin-top: 48px;
    font-size: 80px;
    margin-left: 40px;
}

@media  (max-width: 769px){
    .title-md{
        margin-left: 0;
    }
}

.text{
    font-size: 40px;
}

.overlay{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    overflow: hidden;
}

.video{
    height: 100%;
}